body {
 background-image: url(fondo.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
}

h1,ul,h2 {
  text-align: center;
}


div {
  border-style: none;
  padding: none;
}

section {
  padding: 0px 400px 0px 400px;
  border-style: none;
  border-color: none;
}

button {
  background-color: #a3333d;
  border: 1px solid #a3333d;
  border-radius: 5px;
  position: relative;
}

ul{ list-style-type: none; margin:0; padding: 0;}
